Web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="system.web">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="compilation">
								<xs:complexType>
									<xs:attribute name="debug" type="xs:boolean" use="required" />
									<xs:attribute name="targetFramework" type="xs:decimal" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="pages">
								<xs:complexType>
									<xs:attribute name="controlRenderingCompatibilityVersion" type="xs:decimal" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>